
h1{
    color: grey;
}
.banner{
    background-image: url(adventure.jpeg);
    height: 400px;
    width: 100%;
    max-height: 50%;
     max-width: 100%;
    min-height: 20%;
    min-width: 30%;
    background-size: cover;
    color: white;
}
body {
    font-size: 67.5%;
    font-family: Tahoma, Geneva, sans-serif;
    background: black;
    padding: 0;
    margin: 0;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    background-size: 100% 100%;
    -o-background-size: 100% 100%;
}
